body{
    margin:0;
    padding:0;
    background:#f4f6f8;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-card{
    width:380px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
}

.login-card h1{
    text-align:center;
    color:#0077ff;
}

.login-card h2{
    text-align:center;
}

.login-card input{
    width:100%;
    padding:12px;
    margin-top:15px;
    border:1px solid #ccc;
    border-radius:5px;
    box-sizing:border-box;
}

.login-card button{
    width:100%;
    padding:12px;
    margin-top:20px;
    background:#0077ff;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

.login-card button:hover{
    background:#005edb;
}

.login-card p{
    text-align:center;
    margin-top:20px;
}

.login-card a{
    text-decoration:none;
    color:#0077ff;
    font-weight:bold;
}
.forgot-password {
  text-align: right;
  margin-top: 12px;
}

.forgot-password a {
  color: #2563eb;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.forgot-password a:hover {
  text-decoration: underline;
}